discord.py==1.7.3
peewee==3.14.8
pytz==2021.3
sentry-sdk==1.5.2
pyyaml==6.0
prometheus_client==0.12.0
pillow==9.0.0
requests==2.27.1
aiohttp==3.8.1
setuptools==60.5.0
tortoise-orm==0.17.8
asyncmy==0.2.3
image-similarity-measures==0.3.5
opencv-python==4.5.5.62
numpy==1.22.1