discord.py==1.7.3
peewee==3.14.10
PyMySQL==1.0.2
pytz==2021.3
sentry-sdk==1.5.8
pyyaml==6.0
prometheus_client==0.13.1
pillow==9.0.1
requests==2.27.1
aiohttp==3.8.1
setuptools==60.10.0
image-similarity-measures==0.3.5
opencv-python==4.5.5.64
numpy==1.22.3